<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Format Code Form</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>
        Java Code Formatter
    </h1>

    <!-- form (to submit) -->
    <form action="/submit" method="post">
        <h3>Code you want to save:</h3>
        <textarea name="code" placeholder="Enter the code:" rows="10" cols="50" required></textarea>
        <br>

        <h3>ID of the code:</h3>
        <input type="text" name="id" placeholder="Enter the id:" required />
        <br>

        <h3>For how long you want to save the code (in secs):</h3>
        <input type="number" name="duration" placeholder="Enter the duration (in secs):" min="10" required />
        <br><br>

        <button type="submit">Submit code and save it</button>
    </form>

    <!-- form (to load the code) -->
    <form action="load" method="get">
        <h3>Provide the code with ID:</h3>
        <input type="text" name="idToLoadCode" placeholder="Enter ID to load" required />
        <button type="submit">Load Code</button>
    </form>

    <!-- formatted code -->
    <div th:if="${codeToFormat}" style="margin-top:30px;">
        <h2>Original Code:</h2>
        <pre th:text="${codeToFormat.beforeFormatCode}"></pre>

        <h2>Formatted Code:</h2>
        <pre th:text="${codeToFormat.formattedCode}"></pre>
    </div>
</body>
</html>