spring:
  application:
    name: TPO12
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:books
    username: s3
    password:
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
  sql:
    init:
      mode: embedded
  messages:
    basename: messages
    encoding: UTF-8